<style>
  .image-gallery {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    padding: 2rem;
  }
  .image-gallery li {
    margin: 0.3rem;
  }
  @media all and (min-width: 831px) {
    .image-gallery img {
      width: 200px;
      height: 200px;
      object-fit: cover;
    }
  }
  @media all and (max-width: 830px) {
    .image-gallerty {
      display: block;
    }
    .image-gallery img {
      max-width: 100%;
    }
  }
</style>

<ul class="image-gallery">
  {% for file in site.static_files %} {% if file.path contains include.folder %}
  {% if file.extname == '.jpg' or file.extname == '.jpeg' or file.extname ==
  '.JPG' or file.extname == '.JPEG' %}
  <li>
    <a href="{{ file.path }}">
      <img class="iamge" src="{{ file.path }}" />
    </a>
  </li>
  {% endif %} {% endif %} {% endfor %}
</ul>
